

.btn{

margin: 2%;
}

#aboutskills{
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
font-weight: bold;
  font-size:larger;
  background-image: url("images/codebg.png");

  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  font-family:'Courier New', Courier, monospace
}
#education{
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
font-weight: bold;
  font-size:larger;
  

  background-repeat: no-repeat;
  border-radius: 0px;
  font-family:'Courier New', Courier, monospace
}


body{
  margin: 0;
  
  text-align: center;
  font-family: "Helvetica Neue",Helverica, Arial, sans-serif;
}
.circle-container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
  }
  
  .circle-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
  }
  
  .circle-item:nth-child(1) {
    transform: rotateY(0deg) translateZ(150px);
  }
  
  .circle-item:nth-child(2) {
    transform: rotateY(40deg) translateZ(150px);
  }
  
  .circle-item:nth-child(3) {
    transform: rotateY(80deg) translateZ(150px);
  }
  
  .circle-item:nth-child(4) {
    transform: rotateY(120deg) translateZ(150px);
  }
  
  .circle-item:nth-child(5) {
    transform: rotateY(160deg) translateZ(150px);
  }
  
  .circle-item:nth-child(6) {
    transform: rotateY(200deg) translateZ(150px);
  }
  
  .circle-item:nth-child(7) {
    transform: rotateY(240deg) translateZ(150px);
  }
  
  .circle-item:nth-child(8) {
    transform: rotateY(280deg) translateZ(150px);
  }
  
  .circle-item:nth-child(9) {
    transform: rotateY(320deg) translateZ(150px);
  }
  
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
.divBockitems {
    display: inline;
   
     
  }
.about-section {
    /* background-color: #f8f8f8; */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    padding-bottom: 0px;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-small;
    
  }
  #details{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-small;
    
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section .description {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
h1{
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
font-weight: bold;
color: #66BFBF;

text-decoration: underline;

  background-repeat: no-repeat;
  border-radius: 0px;
  font-family:'Courier New', Courier, monospace
}
h2{

    color: #66BFBF;
    font-weight: normal;

}
h3{

    color: #66BFBF;
    font-weight: normal;
}

/*span{
    background-color: red;
display: inline-block;
}
p{
    display: inline-block;
    visibility: hidden;
    
}*/

/* class tags */
.first_div{
    background-color: rgb(192, 255, 234);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
   /* border: solid 2px;*/
  
}
.last_pharagrah{
    color: rgb(0, 0, 0);
}


.middle-container{
    background-color:white;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    
}
 img{
    width: 200;
    height: 200;
 }

.intro{
    font-style: 2%;
    font-style: italic;
    color: red;
}


.bottom_cloud{

    position:absolute;
    left: 40%;
}

.bottom_container{
   
    height: 50px;
    background-color: #3284bb;
    
   
    height: 70px;
    width: 100%;
   
}
.skill_icon{
    width: 350px;
    height: 300px;
    border-radius: 20px;
    float: left;
    border: solid;
    border-color: #66BFBF;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin: 2%;
}
/*.skill_icon:hover{
    width: 300px;
    height: 300px;
   border: solid;
    border-radius: 300px;
    border-color: rgb(0, 0, 0);
   
}*/
.skill-row{
    width: 40%;
   
    margin: 20px 150px 20px 30px;
    line-height: 2;
    text-align: left;
    float: left;
  /*  background-image: url("forma1.jpg");*/
    background-size: cover;
    border-radius: 40px;
    border: solid;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
   
  
    
   
}




.skill_dis{
    clear: left;
}
.iconsize{
    width: 20px;
    height: 20px;
    margin: 5px auto auto auto;
    
    border-radius: 40px;
 

    
}

.top_cloud{
    position: relative;
    left: 10%;
    padding: 2%;
  
}
.skillstyle{
color: #66BFBF;
 margin-left: 1%; 
 margin-right: 1%;
 margin-top: 0.7%;
}
.skill{
   padding-left: 2%; 
   padding-right: 2%; 
   background-color: #ffffff;
   text-decoration: underline;

}



.profile_image{
    width: 200px;
    height: 300px;
    /* border-radius: 30px; */
    padding: 0%;
    /* border: solid;
    border-color: rgb(0, 238, 255); */
    margin: 2%;
    margin-top: 40px;
}
.SPLIT{
    width: 300px;
    border: dotted;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width:20px ;
    margin: 50px auto 50px auto;
    border-top-color:#66BFBF;
}
.amimatedH:hover{
color: white;
/*font-size: 70px;*/
background-color: rgb(97, 175, 248);
border-radius: 10px;
/*visibility: hidden;*/
/* fixed position is for top bar*/
}
.test{
    color: #66BFBF;
    font-size: 2.5rem;
}

/* class tags */

.carousel-control-prev, .carousel-control-next {
  width: 50px; /* Replace with your desired width */
  height: 50px; /* Replace with your desired height */
  top: 50%; /* Adjust vertical position */
  transform: translateY(-50%); /* Center vertically */
  border-radius: 20%;
}

@media (min-width: 968px) { /* for desktop */
  #about{
    margin-left: 400px;
    margin-right: 400px;
   padding: 10px; 
    
  }

  .payrollimage{
    border-radius: 5%;
    width: 500px;
  }

  
  .undemyimage{
    margin-left: 95%;
    border-radius: 10px;
  
  }
  .progress{
 
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 40% ;
    margin-right: 40%;
    height: 20px;
   }
  .Topprojects{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #66BFBF;
 
    background-repeat: no-repeat;
    border-radius: 0px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 400px;
    margin-right: 400px;
  }
  #myapps{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #66BFBF;
 
    background-repeat: no-repeat;
    border-radius: 0px;
    font-family:'Courier New', Courier, monospace;
  }
  /* body{
    margin-left: 0px;
  margin-right: 0px;
  } */
  .imageschange2 {
    width: 450px; /* Replace with your desired width */
    height: 400px; /* Replace with your desired height */
  }
  .imageschange{
    width: 400px; /* Replace with your desired width */
    height: 400px; 
  }
}

@media (max-width: 967px) { /* for mobile */
  .imageschange2 {
    width: 450px; 
    height: 400px;
  }

  .payrollimage{
    border-radius: 5%;
    width: 200px;
  }

  .appdisc{
    font-size: 15px;
    
    
      }
   .imageschange{
    width: 400px; 
    height: 400px; 
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li:before {
  content: "\2022";
  color: #007bff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.front-end {
  background-color: #ffffff;
}
.back-end {
  background-color: #b2b2b2;
}
table tr {
  border: none;
}
tr.no-border {
  border: none;
}
#my-section {
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
font-weight: bold;
  font-size:larger;
  background-image: url("images/nature.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
}
.Intro{
  padding-right: 70%;
  padding-top: 50px;

}
.fullstack{
  color: #66BFBF;
  font-family:'Courier New', Courier, monospace;
font-weight: normal;
font-size:300%;
}

.profile_image {
  animation: jelly 15s ease-in-out alternate infinite;
}

@keyframes jelly {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-10px) scale(1.1);
  }
}

.Intro {
  display: inline-block;
  overflow: hidden;
  animation: wind 5s ease-in-out alternate infinite;
}

/* @keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes wind {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.fa {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.fa:hover {
  transform: scale(1.2);
}

.social-icons i {
  font-size: 24px;
  margin: 0;
}
.python{

  background: linear-gradient(135deg, #5291e4 50%, #faee45 50%);
}
.flutter{

  background: linear-gradient(135deg, #71bfff 70%, #382fad 30%);
}
.boots{

  background-color:#af5aff ;
}

.react{

  background-color:#5ad0ff ;
}

.JQ{

  background-color:#6b5aff ;
}
.nodejs{

  background: linear-gradient(135deg, #0e0e0e 50%, #62aa53 50%);

}
.mongoose{

  background-color:#dbdbdb ;
}

.undemyimage{
 margin-bottom: 10px;
  border-radius: 10px;

}
.ujimage{
  margin-bottom: 10px;
  border-radius: 10px;

}
.undemyimage:hover {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  animation: wind 5s ease-in-out alternate infinite;
}

/* @keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes wind {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}

.ujimage:hover {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  animation: wind 5s ease-in-out alternate infinite;
}

/* @keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes wind {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}
.tabs{
  size: 10px;
  font-size: 15px;
}
.description2{
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.about-section2{
      /* background-color: #f8f8f8; */
      border-radius: 10px;
      padding: 20px;
      margin: 20px 0;
      padding-bottom: 0px;
      color: aliceblue;
      /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  
}
.icobonclick{

  font-size: 250%;
 
}